<!DOCTYPE html>
<html>
<head>
<style>
body { font-family: Arial; background:#e6ffe6; text-align:center; padding:30px; }
.box {
    background:white;
    padding:20px;
    margin:auto;
    width:350px;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);
}
.btn {
    background:#0077b6;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    text-decoration:none;
    display:inline-block;
}
</style>
</head>

<body>

<div class="box">
    <h2>Payment Successful ✔</h2>
    <p>Your payment of <b>₹{{ total }}</b> is completed.</p>
    <p>Your order has been placed!</p>

    <br>
    <a class="btn" href="/">Back to Home</a>
    <a class="btn" href="/orders">View Orders</a>
</div>

</body>
</html>
